<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
		<script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
	</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<a href="/travels">Home</a> | <a href="/logout">Logout</a>
		</div>
	</nav>
	<div>
		<h2>{{trip.destination}}</h2>
		<p>Planned By: {{trip.trip_creator.first_name}}</p>
		<p>Description: {{trip.description}}</p>
		<p>Travel Date From: {{trip.start_date}}</p>
		<p>Travel Date To: {{ trip.end_date}}</p>
	</div>
	<hr>
	<div>
		<h2>Other users joining the trip:</h2>
		{% for joiner in trip_joiners %}
			<p>{{joiner.first_name}} {{joiner.last_name}}</p>
		{% endfor %}
	</div>
</body>
</html>